includes:
    - ./phpstan-baseline.neon
parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue
